@media screen and (max-width: 1200px) {
  body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
  }

  main {
    display: flex;
    justify-content: space-evenly;
  }

  aside h1 {
    font-size: 60px;
  }

  aside h2 {
    font-size: 50px;
  }

  article img {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  body {
    max-width: 700px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article img {
    width: 250px;
  }
}

@media screen and (max-width: 660px) {
  body {
    max-width: 500px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 6.8px;
  }
}

@media screen and (max-width: 850px) {
  body {
    max-width: 655px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article img {
    width: 250px;
  }
}

@media screen and (max-width: 660px) {
  body {
    max-width: 500px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 6.8px;
  }
}

@media screen and (max-width: 500px) {
  body {
    max-width: 380px;
  }

  #title-bar {
    display: none;
  }

  aside h1 {
    font-size: 40px;
  }

  aside h2 {
    font-size: 30px;
  }

  aside p {
    display: none;
  }
}

@media screen and (max-width: 435px) {
  body {
    max-width: 300px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #title-bar {
    display: none;
  }

  li {
    margin: 12px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .aside-title {
    display: flex;
    align-items: center;
  }

  aside h1 {
    font-size: 35px;
  }

  aside h2 {
    font-size: 25px;
  }

  aside p {
    display: none;
  }

  article img {
    width: 150px;
  }

  #contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #last-bar {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #link-final img {
    width: 30px;
  }

  #maps img {
    width: 30px;
  }

  footer p {
    font-size: 10px;
  }
}
